body{
    background-color: black;
}
#terrain{
    background-color: white;
    position: absolute;
    top: 70px;
    left: 0px;
    width: 100%;
    height: auto;
}
#terrain table{
    width: 100%;
    height: 50%;
}
#terrain table td{
    height: 30px;
}
#title{
    width: 100%;
    height: 60px;
    background-color: black;
}
#title .joueur{
    float: left;
    position: relative;
    left: 520px;
    color: white;
    margin-left: 50px;
    font-size: 25px;
}
#champ{
   
    position: absolute;
    top: 76.5px;
    left: 1px;
    width: 100%;
    
}
#champ table{
    width: 100%;
    border-collapse: separate;
    border-spacing: 40px 31.9px;
    
    
}

#champ td{
    transform: scale(2,2);
    border-color: transparent;
    border-radius: 8px;
    
    

}
#droite{
    position:absolute;
    top: 211px;
    left: 405px;
    width: 45px;
    height: 2px;
    background-color: red;
}
#od{
    position:absolute;
    top: 231px;
    left: 402px;
    width: 55px;
    height: 2px;
    background-color: red;
    transform: rotate(40deg);
}
#og{
    position:absolute;
    top: 231px;
    left: 402px;
    width: 55px;
    height: 2px;
    background-color: red;
    transform: rotate(140deg);
}